.Toolbar {
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f1308;
    background-image: url('../../../assets/images/p90ZUF.jpg');
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}